<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="TickSettings" type="TickaTacka.TickConfiguration, TickaTacka" />
	</configSections>
	<TickSettings 
			tickInterval="1" 
			dataFile="/home/audrius/.tickTackData" 
			shutdownCommand="/usr/bin/notify-send" 
			shutdownArguments="-i info 'Zeitbegrenzung' 'Die Zeit ist um, bitte ausloggen!'">
		<users>
			<user name="audrius" montag="1" dienstag="2" mittwoch="3" donnerstag="4" freitag="3" samstag="3" sonntag="3"> 
				<exceptions>
					<exception day="2013-03-18" minutes="22" />
				</exceptions>
			</user>
			<user name="mauzius" montag="15" dienstag="16" mittwoch="56" donnerstag="45" freitag="56" samstag="43" sonntag="45" />
		</users>
	</TickSettings>
</configuration>
